version: '3.1'
services:
    ghost:
        image: ghost:5-alpine
        restart: always
        ports:
            - 8080:2368
        environment:
            # see https://ghost.org/docs/config/#configuration-options
            database__client: mysql
            database__connection__host: db
            database__connection__user: ${MYSQL_USER}
            database__connection__password: ${MYSQL_PASSWORD}
            database__connection__database: ${MYSQL_DATABASE}
            # this url value is just an example, and is likely wrong for your environment!
            url: https://readinsight.com
            # contrary to the default mentioned in the linked documentation, this image defaults to NODE_ENV=production (so development mode needs to be explicitly specified if desired)
            #NODE_ENV: development
        volumes:
            - ghost:/var/lib/ghost/content

    db:
        image: mysql:8.0
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
        volumes:
            - db:/var/lib/mysql

volumes:
    ghost:
    db:
